# Saved models
/saved*
*.pth


.idea/
*.pyc
log_tensorboard
saved/
*.lprof
*.egg-info/
docs/build/
wandb/*
/ray_log*

.venv
/app/frontend/node_modules
dataset/*
dataset_raw/*
dataset_temp/*
dataset_tracks/*
dataset_processed/*
dataset_cache

analyze.py
analysis/*
plots/*

30music_*.yaml
30music.yaml
results_*.json

process.sh
run_model.py
.env