# Saved models
/saved*
*.pth


.idea/
*.pyc
*.log
log_tensorboard
saved/
*.lprof
*.egg-info/
docs/build/
wandb/*
/ray_log*

.venv
log
dataset/*
dataset_raw/*
dataset_temp/*
dataset_processed/*
analysis/*

process_batch.py
dataset_cache
dataset_tracks/tracks*
plots/*
30music_*.yaml
30music.yaml
results.json