@import "tailwindcss";

@theme {
  --color-primary: var(--color-slate-500);
  --color-primary-hover: var(--color-slate-600);
  --color-secondary: var(--color-slate-600);
  --color-input: var(--color-slate-600);
  --radius-base: var(--radius-sm);
}

@font-face {
  font-family: 'Rubik';
  src: url('./Rubik-Regular.ttf') format('truetype');
}

::-webkit-scrollbar {
  @apply w-4;
}

::-webkit-scrollbar-track {
  @apply rounded-base;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border: 4px solid transparent;
  background-clip: padding-box;
  @apply rounded-full bg-primary transition-all;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-secondary;
}

html {
  font-family: 'Rubik', sans-serif;
  @apply text-gray-800 bg-primary/10 duration-100 overflow-x-hidden;
}

main {
  @apply
  grid grid-rows-[auto_1fr_auto] grid-cols-3 gap-2 p-4 h-screen overflow-hidden;
}

.header {
  @apply col-span-3 flex flex-row justify-between cursor-pointer;
}

.app-button {
  @apply aspect-square h-10 p-2 flex items-center justify-center rounded-base bg-primary hover:bg-primary-hover text-white cursor-pointer;
  transition: background-color 0.1s ease-in-out;
}

.app-button:disabled {
  @apply opacity-50 cursor-not-allowed hover:bg-primary;
}

.app-input {
  @apply p-2 h-10 rounded-base outline-none w-full flex items-center justify-between bg-input/5 inset-ring-1 inset-ring-primary/50 focus:ring-4 focus:ring-primary/75 focus:inset-ring-0 transition-all;
}

.app-select:disabled {
  @apply opacity-50 cursor-not-allowed;
}

svg {
  @apply cursor-pointer transition-all text-lg w-min!;
}

li {
  transition: background-color 0.1s ease-in-out;
}

ul {
  @apply
  flex flex-col gap-1 overflow-y-auto p-2 bg-secondary/10 rounded-b-base
}

.breadcrumb {
  @apply
  bg-primary text-white rounded px-1 mt-0.5 opacity-0 group-hover:opacity-100 transition-all
}

.breadcrumb-group {
  @apply
  absolute top-[calc(100%-0.1rem)] right-1 z-10 flex pointer-events-none grid grid-flow-col gap-1
}

.rank {
  @apply
  flex items-center justify-center
  min-w-6 h-6 px-1
  bg-primary/10 text-primary-hover font-bold text-xs
  rounded-base;
}

.track {
  @apply
  relative cursor-pointer bg-white/25 rounded-base p-1 gap-1 grid grid-cols-[auto_1fr] hover:ring-4 ring-primary transition-all;
}

.column {
  @apply
  grid grid-rows-[auto_1fr] min-h-0;
}

.column-title {
  @apply
  p-2 text-xl font-semibold bg-secondary/15 rounded-t-base select-none h-10
}

.fade-enter-active {
  transition: opacity 0.2s ease 0.15s;
}
.fade-leave-active {
  transition: opacity 0.1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-fade-top-enter-active,
.slide-fade-top-leave-active {
  transition: all 0.1s ease-out;
}

.slide-fade-top-enter-from,
.slide-fade-top-leave-to {
  transform: translateY(10px);
  opacity: 0;
}